/*引入样式*/
@import url("normalize.css");

/*公用样式*/
* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	vertical-align: middle;
	border: none;
}
body{
	background: url(https://th.bing.com/th/id/Rba46fefd9b519aa08106d27d6e152b49?rik=FvHmBC0AN%2bwZJQ&riu=http%3a%2f%2fimgs.aixifan.com%2fo_1d1vp8rb7qjdtq11u505qvfga1a.jpg&ehk=OiBGZJ2yRcHa2j%2fuCllvhoZPiOXvehMJw64ktCcMVUE%3d&risl=1&pid=ImgRaw) no-repeat;
	background-size: 100%;
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	z-index: -1;
	
	width: 100%;
	font-family: -app-stytem, Helvetica, sans-serif;
	min-width: 420px;
	max-width: 1920px;
	font-size: 14px;
	line-height: 1.5;
	color: #666666;
	margin: 0 auto;
	padding-bottom: env(safe-area-insert-bottom);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}